@import url('https://fonts.googleapis.com/css2?family=Chakara+Petch&display=swap');
:root{
  --cor-de-fundo:#1E1E1E;
  --branco:#FFFFFF;
  --verde:#6FFF57;
}
body{ 
 background-color:var(--cor-de-fundo);   
 color:var(--branco);
}
